In [1]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import datetime
import random
from datetime import datetime
pd.set_option('display.max_columns', 500)

In [2]:
dataset = pd.read_csv('dataset.csv')

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 853 entries, 0 to 852
Data columns (total 22 columns):
Unnamed: 0              853 non-null int64
Accident_Date           853 non-null object
Accident_Time           853 non-null object
LONGITUDE               853 non-null float64
LATITUDE                853 non-null float64
AStreet                 853 non-null object
BStreet                 853 non-null object
FatalInjuries           853 non-null int64
MajorInjuries           853 non-null int64
Involving               853 non-null int64
Nearest_Intersection    853 non-null object
SPD                     853 non-null int64
LEN                     853 non-null int64
ACC                     853 non-null int64
VOL                     853 non-null int64
F85th                   853 non-null float64
LOCAL                   853 non-null int64
F50th                   853 non-null float64
Precip                  853 non-null float64
Air max                 853 non-null int64
min                     853 non-null int64
obs                     853 non-null float64
dtypes: float64(6), int64(11), object(5)
memory usage: 146.7+ KB

In [4]:
dataset.shape

(853, 22)

In [5]:
dataset.head(1)

,Unnamed: 0,Accident_Date,Accident_Time,LONGITUDE,LATITUDE,AStreet,BStreet,FatalInjuries,MajorInjuries,Involving,Nearest_Intersection,SPD,LEN,ACC,VOL,F85th,LOCAL,F50th,Precip,Air max,min,obs
0,0,2013-01-02,14:00:00.000Z,-121.93738,37.250639,DICKENS AV,SAMARITAN DR,0,1,0,DICKENS AV & SAMARITAN DR,35,4250,16,19900,39.0,0,35.0,0.17,58,42,50.0

In [6]:
dataset.keys()

Index(['Unnamed: 0', 'Accident_Date', 'Accident_Time', 'LONGITUDE', 'LATITUDE',
       'AStreet', 'BStreet', 'FatalInjuries', 'MajorInjuries', 'Involving',
       'Nearest_Intersection', 'SPD', 'LEN', 'ACC', 'VOL', 'F85th', 'LOCAL',
       'F50th', 'Precip', 'Air max', 'min', 'obs'],
      dtype='object')

In [7]:
data = pd.read_csv('speed_done.csv')

In [8]:
test = data.sample(n=3500, replace=True, random_state=1)

In [9]:
test.shape

(3500, 17)

In [10]:
test.head(1)

,Unnamed: 0,STREET,START,END_,SPD,LEN,ACC,VOL,F85th,LOCAL,F50th,lat,lng,intersection1,intersection2,intersection3,intersection4
37,38,BLOSSOM AV,SANTA TERESA BL,BLOSSOM HILL RD,35,4950.0,22.0,10200.0,40.0,0,36.5,37.236728,-121.839643,"BLOSSOM AV & SANTA TERESA BL, San Jose","SANTA TERESA BL & BLOSSOM AV, San Jose","BLOSSOM AV & BLOSSOM HILL RD, San Jose","BLOSSOM HILL RD & BLOSSOM AV, San Jose"

In [11]:
false_data = DataFrame(columns=['Accident_Date', 'Accident_Time', 'LONGITUDE', 'LATITUDE',
       'AStreet', 'BStreet', 'FatalInjuries', 'MajorInjuries', 'Involving',
       'Nearest_Intersection', 'SPD', 'LEN', 'ACC', 'VOL', 'F85th', 'LOCAL',
       'F50th', 'Accident'])
false_data

Empty DataFrame
Columns: [Accident_Date, Accident_Time, LONGITUDE, LATITUDE, AStreet, BStreet, FatalInjuries, MajorInjuries, Involving, Nearest_Intersection, SPD, LEN, ACC, VOL, F85th, LOCAL, F50th, Accident]
Index: []

In [12]:
for i in range(0,test.shape[0] - 1):
    y = random.randint(2013, 2017)
    m = random.randint(1, 12)
    d = random.randint(1,28)
    date = str(y*10000+m*100+d)
    s_datetime = datetime.strptime(date, '%Y%m%d')
    newformat = s_datetime.strftime('%Y-%m-%d')
    time = random.randint(0,23)
    random_false = test.iloc[i]
    false_data = false_data.append({'Unnamed: 0' : i, 'Accident_Date' : newformat, 'Accident_Time' : time, 'LONGITUDE' : random_false['lng'], 'LATITUDE' : random_false['lat'],
       'AStreet' : random_false['STREET'], 'BStreet' : random_false['START'], 'FatalInjuries' : 0, 'MajorInjuries' : 0, 'Involving' : 0, 'Nearest_Intersection' : random_false['STREET'] + ' & ' + random_false['START'], 'SPD' : random_false['SPD'], 'LEN' : random_false['LEN'], 'ACC' : random_false['ACC'], 'VOL' : random_false['VOL'], 'F85th' : random_false['F85th'], 'LOCAL' : random_false['LOCAL'],
       'F50th' : random_false['F50th'], 'Accident' : 0}, ignore_index=True)

In [13]:
#weather = pd.read_csv('weather_clean.csv')

In [14]:
false_data.head(5)

,Accident_Date,Accident_Time,LONGITUDE,LATITUDE,AStreet,BStreet,FatalInjuries,MajorInjuries,Involving,Nearest_Intersection,SPD,LEN,ACC,VOL,F85th,LOCAL,F50th,Accident,Unnamed: 0
0,2016-04-13,10,-121.839643,37.236728,BLOSSOM AV,SANTA TERESA BL,0,0,0,BLOSSOM AV & SANTA TERESA BL,35,4950.0,22.0,10200.0,40.0,0,36.5,0,0.0
1,2013-01-16,19,-122.014960,37.293634,MILLER AV,PROSPECT RD,0,0,0,MILLER AV & PROSPECT RD,35,6150.0,21.0,8300.0,39.0,0,35.0,0,1.0
2,2013-05-20,2,-121.916760,37.381073,CHARCOT AV,ZANKER RD,0,0,0,CHARCOT AV & ZANKER RD,35,3940.0,4.0,7600.0,36.0,0,33.0,0,2.0
3,2013-09-23,13,-121.913618,37.294436,HAMILTON AV,MERIDIAN AV,0,0,0,HAMILTON AV & MERIDIAN AV,35,2700.0,24.0,14550.0,38.0,0,35.0,0,3.0
4,2017-02-10,13,-121.898223,37.400803,FORTUNE DR,RINGWOOD AV,0,0,0,FORTUNE DR & RINGWOOD AV,35,2730.0,3.0,1450.0,39.0,0,35.0,0,4.0

In [15]:
#for y in range(len(weather['Date'])):
#    wea = str(int(weather['Date'][y]))
#    datetimeobject = datetime.strptime(wea,'%Y%m%d')
#    newformat = datetimeobject.strftime('%Y-%m-%d')
#    weather['Date'][y] = newformat

In [16]:
#weather.head(5)

In [17]:
#weather.to_csv('weather_clean.csv')

In [18]:
weather = pd.read_csv('weather_clean.csv')

In [19]:
weather.head(5)

   Unnamed: 0        Date  Time  Precip  Air max  min   obs
0           0  2000-01-01  2359     0.0       55   44  49.5
1           1  2000-01-02  1600     0.0       63   37  53.0
2           2  2000-01-03  1600     0.0       58   37  57.0
3           3  2000-01-04  1600     0.0       58   38  57.0
4           4  2000-01-05  1600     0.0       59   38  58.0

In [20]:
weather.keys()

Index(['Unnamed: 0', 'Date', 'Time', 'Precip', 'Air max', 'min', 'obs'], dtype='object')

In [21]:
weather = weather.drop(['Unnamed: 0'], axis=1)

In [22]:
weather.keys()

Index(['Date', 'Time', 'Precip', 'Air max', 'min', 'obs'], dtype='object')

In [23]:
false_dataset = pd.merge(left=false_data,right=weather, left_on='Accident_Date', right_on='Date')

In [24]:
false_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3499 entries, 0 to 3498
Data columns (total 25 columns):
Accident_Date           3499 non-null object
Accident_Time           3499 non-null object
LONGITUDE               3499 non-null float64
LATITUDE                3499 non-null float64
AStreet                 3499 non-null object
BStreet                 3499 non-null object
FatalInjuries           3499 non-null object
MajorInjuries           3499 non-null object
Involving               3499 non-null object
Nearest_Intersection    3499 non-null object
SPD                     3499 non-null object
LEN                     3499 non-null float64
ACC                     3499 non-null float64
VOL                     3499 non-null float64
F85th                   3499 non-null float64
LOCAL                   3499 non-null object
F50th                   3499 non-null float64
Accident                3499 non-null object
Unnamed: 0              3499 non-null float64
Date                    3499 non-null object
Time                    3499 non-null int64
Precip                  3499 non-null float64
Air max                 3499 non-null int64
min                     3499 non-null int64
obs                     3499 non-null float64
dtypes: float64(10), int64(3), object(12)
memory usage: 710.7+ KB

In [25]:
false_dataset.head(1)
false_dataset.keys()

Index(['Accident_Date', 'Accident_Time', 'LONGITUDE', 'LATITUDE', 'AStreet',
       'BStreet', 'FatalInjuries', 'MajorInjuries', 'Involving',
       'Nearest_Intersection', 'SPD', 'LEN', 'ACC', 'VOL', 'F85th', 'LOCAL',
       'F50th', 'Accident', 'Unnamed: 0', 'Date', 'Time', 'Precip', 'Air max',
       'min', 'obs'],
      dtype='object')

In [26]:
false_dataset.shape

(3499, 25)

In [27]:
false_dataset = false_dataset.drop(columns=['Date','Time'])
false_dataset.shape

(3499, 23)

In [28]:
false_dataset.keys()

Index(['Accident_Date', 'Accident_Time', 'LONGITUDE', 'LATITUDE', 'AStreet',
       'BStreet', 'FatalInjuries', 'MajorInjuries', 'Involving',
       'Nearest_Intersection', 'SPD', 'LEN', 'ACC', 'VOL', 'F85th', 'LOCAL',
       'F50th', 'Accident', 'Unnamed: 0', 'Precip', 'Air max', 'min', 'obs'],
      dtype='object')

In [29]:
false_dataset.head(1)

,Accident_Date,Accident_Time,LONGITUDE,LATITUDE,AStreet,BStreet,FatalInjuries,MajorInjuries,Involving,Nearest_Intersection,SPD,LEN,ACC,VOL,F85th,LOCAL,F50th,Accident,Unnamed: 0,Precip,Air max,min,obs
0,2016-04-13,10,-121.839643,37.236728,BLOSSOM AV,SANTA TERESA BL,0,0,0,BLOSSOM AV & SANTA TERESA BL,35,4950.0,22.0,10200.0,40.0,0,36.5,0,0.0,0.06,71,48,59.5

In [30]:
#false_dataset_1 = false_dataset

In [31]:
#frame = [false_dataset, false_dataset_1, false_dataset_1,false_dataset_1,false_dataset_1]
#false_dataset = pd.concat(frame)

In [32]:
false_dataset.shape

(3499, 23)

In [33]:
false_dataset.to_csv(r'false_data.csv')