In [1]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import datetime
import random
from datetime import datetime
pd.set_option('display.max_columns', 500)

In [2]:
false_data = pd.read_csv('false_data.csv')

In [3]:
false_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3499 entries, 0 to 3498
Data columns (total 24 columns):
Unnamed: 0              3499 non-null int64
Accident_Date           3499 non-null object
Accident_Time           3499 non-null int64
LONGITUDE               3499 non-null float64
LATITUDE                3499 non-null float64
AStreet                 3499 non-null object
BStreet                 3499 non-null object
FatalInjuries           3499 non-null int64
MajorInjuries           3499 non-null int64
Involving               3499 non-null int64
Nearest_Intersection    3499 non-null object
SPD                     3499 non-null int64
LEN                     3499 non-null float64
ACC                     3499 non-null float64
VOL                     3499 non-null float64
F85th                   3499 non-null float64
LOCAL                   3499 non-null int64
F50th                   3499 non-null float64
Accident                3499 non-null int64
Unnamed: 0.1            3499 non-null float64
Precip                  3499 non-null float64
Air max                 3499 non-null int64
min                     3499 non-null int64
obs                     3499 non-null float64
dtypes: float64(10), int64(10), object(4)
memory usage: 656.1+ KB

In [4]:
dataset = pd.read_csv('dataset.csv')

In [5]:
dataset.shape

(853, 22)

In [6]:
dataset['Accident'] = 1

In [7]:
dataset.shape

(853, 23)

In [8]:
dataset.head(10)

,Unnamed: 0,Accident_Date,Accident_Time,LONGITUDE,LATITUDE,AStreet,BStreet,FatalInjuries,MajorInjuries,Involving,Nearest_Intersection,SPD,LEN,ACC,VOL,F85th,LOCAL,F50th,Precip,Air max,min,obs,Accident
0,0,2013-01-02,14:00:00.000Z,-121.937380,37.250639,DICKENS AV,SAMARITAN DR,0,1,0,DICKENS AV & SAMARITAN DR,35,4250,16,19900,39.0,0,35.0,0.17,58,42,50.0,1
1,1,2013-01-02,18:09:00.000Z,-121.839119,37.379700,PATT AV,WHITE RD,1,0,1,PATT AV & WHITE RD,35,3400,16,10250,39.0,0,36.0,0.17,58,42,50.0,1
2,2,2013-01-04,05:50:00.000Z,-121.881171,37.274645,HILLSDALE AV,NEWBERRY DR,0,1,2,HILLSDALE AV & NEWBERRY DR,35,1950,14,10100,38.0,0,34.0,0.12,58,42,50.0,1
3,3,2013-01-04,17:41:00.000Z,-121.906587,37.363385,FOURTH ST,GISH RD,0,1,0,517' north of FOURTH ST & GISH RD,25,1865,1,1600,25.0,0,22.0,0.12,58,42,50.0,1
4,4,2013-01-07,02:46:00.000Z,-121.883632,37.326856,FIRST ST,REED ST,1,0,0,240' south of FIRST ST & REED ST,20,3250,33,4300,21.5,0,19.5,0.12,58,42,50.0,1
5,5,2013-01-15,17:38:00.000Z,-121.853796,37.353651,ALUM ROCK AV,EASTGATE AV,0,1,2,ALUM ROCK AV & EASTGATE AV,35,3054,30,29000,41.0,0,36.0,0.08,58,42,50.0,1
6,6,2013-01-17,19:32:00.000Z,-121.845931,37.342771,KING RD,SINCLAIR FR,0,1,2,KING RD & SINCLAIR FR,35,8200,197,17650,36.3,0,32.5,0.07,59,42,50.5,1
7,7,2013-01-17,08:00:00.000Z,-121.843026,37.370082,CAPITOL AV,MCKEE RD,0,1,1,CAPITOL AV & MCKEE RD,35,18700,76,21150,40.0,0,36.0,0.07,59,42,50.5,1
8,8,2013-01-21,18:24:00.000Z,-121.870107,37.312574,MONTEREY RD,SAN JOSE AV,0,1,1,MONTEREY RD & SAN JOSE AV,25,3000,31,6350,30.5,0,27.5,0.07,59,42,50.5,1
9,9,2013-01-23,22:21:00.000Z,-121.801166,37.238356,CAMINO VERDE DR,INTERNATIONAL CI,0,2,0,159' west of CAMINO VERDE DR & INTERNATIONAL CI,25,3550,10,2900,30.0,0,27.5,0.10,59,42,50.5,1

In [9]:
dataset.keys()

Index(['Unnamed: 0', 'Accident_Date', 'Accident_Time', 'LONGITUDE', 'LATITUDE',
       'AStreet', 'BStreet', 'FatalInjuries', 'MajorInjuries', 'Involving',
       'Nearest_Intersection', 'SPD', 'LEN', 'ACC', 'VOL', 'F85th', 'LOCAL',
       'F50th', 'Precip', 'Air max', 'min', 'obs', 'Accident'],
      dtype='object')

In [10]:
false_data.keys()

Index(['Unnamed: 0', 'Accident_Date', 'Accident_Time', 'LONGITUDE', 'LATITUDE',
       'AStreet', 'BStreet', 'FatalInjuries', 'MajorInjuries', 'Involving',
       'Nearest_Intersection', 'SPD', 'LEN', 'ACC', 'VOL', 'F85th', 'LOCAL',
       'F50th', 'Accident', 'Unnamed: 0.1', 'Precip', 'Air max', 'min', 'obs'],
      dtype='object')

In [11]:
false_data = false_data[['Unnamed: 0', 'Accident_Date', 'Accident_Time', 'LONGITUDE', 'LATITUDE',
       'AStreet', 'BStreet', 'FatalInjuries', 'MajorInjuries', 'Involving',
       'Nearest_Intersection', 'SPD', 'LEN', 'ACC', 'VOL', 'F85th', 'LOCAL',
       'F50th', 'Precip', 'Air max', 'min', 'obs', 'Accident']]

In [12]:
#false_data.rename(columns={'LONGITUDE':'LATITUDE', 'LATITUDE':'LONGITUDE'},inplace=True)

In [13]:
false_data.head(5)

,Unnamed: 0,Accident_Date,Accident_Time,LONGITUDE,LATITUDE,AStreet,BStreet,FatalInjuries,MajorInjuries,Involving,Nearest_Intersection,SPD,LEN,ACC,VOL,F85th,LOCAL,F50th,Precip,Air max,min,obs,Accident
0,0,2016-04-13,10,-121.839643,37.236728,BLOSSOM AV,SANTA TERESA BL,0,0,0,BLOSSOM AV & SANTA TERESA BL,35,4950.0,22.0,10200.0,40.0,0,36.5,0.06,71,48,59.5,0
1,1,2016-04-13,11,-121.889531,37.243189,MERIDIAN AV,BLOSSOM HILL RD,0,0,0,MERIDIAN AV & BLOSSOM HILL RD,35,5200.0,17.0,21000.0,37.7,0,33.7,0.06,71,48,59.5,0
2,2,2013-01-16,19,-122.014960,37.293634,MILLER AV,PROSPECT RD,0,0,0,MILLER AV & PROSPECT RD,35,6150.0,21.0,8300.0,39.0,0,35.0,0.07,59,43,51.0,0
3,3,2013-01-16,14,-121.943246,37.323264,MONROE ST,STEVENS CREEK BL,0,0,0,MONROE ST & STEVENS CREEK BL,30,2075.0,8.0,6100.0,34.5,0,31.0,0.07,59,43,51.0,0
4,4,2013-01-16,9,-121.809178,37.346374,RUBY AV / MT PLEASANT RD,TULLY RD,0,0,0,RUBY AV / MT PLEASANT RD & TULLY RD,35,6000.0,15.0,6250.0,39.5,0,35.0,0.07,59,43,51.0,0

In [14]:
dataset.head(5)

,Unnamed: 0,Accident_Date,Accident_Time,LONGITUDE,LATITUDE,AStreet,BStreet,FatalInjuries,MajorInjuries,Involving,Nearest_Intersection,SPD,LEN,ACC,VOL,F85th,LOCAL,F50th,Precip,Air max,min,obs,Accident
0,0,2013-01-02,14:00:00.000Z,-121.937380,37.250639,DICKENS AV,SAMARITAN DR,0,1,0,DICKENS AV & SAMARITAN DR,35,4250,16,19900,39.0,0,35.0,0.17,58,42,50.0,1
1,1,2013-01-02,18:09:00.000Z,-121.839119,37.379700,PATT AV,WHITE RD,1,0,1,PATT AV & WHITE RD,35,3400,16,10250,39.0,0,36.0,0.17,58,42,50.0,1
2,2,2013-01-04,05:50:00.000Z,-121.881171,37.274645,HILLSDALE AV,NEWBERRY DR,0,1,2,HILLSDALE AV & NEWBERRY DR,35,1950,14,10100,38.0,0,34.0,0.12,58,42,50.0,1
3,3,2013-01-04,17:41:00.000Z,-121.906587,37.363385,FOURTH ST,GISH RD,0,1,0,517' north of FOURTH ST & GISH RD,25,1865,1,1600,25.0,0,22.0,0.12,58,42,50.0,1
4,4,2013-01-07,02:46:00.000Z,-121.883632,37.326856,FIRST ST,REED ST,1,0,0,240' south of FIRST ST & REED ST,20,3250,33,4300,21.5,0,19.5,0.12,58,42,50.0,1

In [15]:
frame = [dataset, false_data]
final_data = pd.concat(frame)

In [16]:
final_data.shape

(4352, 23)

In [17]:
final_data = final_data.reset_index()

In [18]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4352 entries, 0 to 4351
Data columns (total 24 columns):
index                   4352 non-null int64
Unnamed: 0              4352 non-null int64
Accident_Date           4352 non-null object
Accident_Time           4352 non-null object
LONGITUDE               4352 non-null float64
LATITUDE                4352 non-null float64
AStreet                 4352 non-null object
BStreet                 4352 non-null object
FatalInjuries           4352 non-null int64
MajorInjuries           4352 non-null int64
Involving               4352 non-null int64
Nearest_Intersection    4352 non-null object
SPD                     4352 non-null int64
LEN                     4352 non-null float64
ACC                     4352 non-null float64
VOL                     4352 non-null float64
F85th                   4352 non-null float64
LOCAL                   4352 non-null int64
F50th                   4352 non-null float64
Precip                  4352 non-null float64
Air max                 4352 non-null int64
min                     4352 non-null int64
obs                     4352 non-null float64
Accident                4352 non-null int64
dtypes: float64(9), int64(10), object(5)
memory usage: 816.1+ KB

In [19]:
#final_data = final_data.sample(frac=1)

In [20]:
for i in range(0, final_data.shape[0]):
    time = final_data.iloc[i]['Accident_Date'].split('-')
    year = int(time[0])
    month = int(time[1])
    day = int(time[2])
    final_data.at[i,'year'] = year
    final_data.set_value(i, 'year', year)
    final_data.at[i,'month'] = month
    final_data.at[i,'day'] = day
    hour = final_data.iloc[i]['Accident_Time']
    if (type(hour) == int) != 1:
        if (hour != "unknown"):
            final_data.at[i, 'hour'] = int(final_data.iloc[i]['Accident_Time'][0:2])
        else:
            final_data.at[i, 'hour'] = random.randint(0,23)
    else:
        final_data.at[i, 'hour'] = hour

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  import sys

In [21]:
final_data.shape

(4352, 28)

In [22]:
#final_data = final_data.reset_index()

In [23]:
#final_data[final_data.index.duplicated()]

In [24]:
final_data.to_csv(r'dataset_v2.csv')

In [25]:
final_data.keys()

Index(['index', 'Unnamed: 0', 'Accident_Date', 'Accident_Time', 'LONGITUDE',
       'LATITUDE', 'AStreet', 'BStreet', 'FatalInjuries', 'MajorInjuries',
       'Involving', 'Nearest_Intersection', 'SPD', 'LEN', 'ACC', 'VOL',
       'F85th', 'LOCAL', 'F50th', 'Precip', 'Air max', 'min', 'obs',
       'Accident', 'year', 'month', 'day', 'hour'],
      dtype='object')

In [26]:
final_data = final_data.drop(['Unnamed: 0', 'Accident_Date', 'Accident_Time', 'AStreet', 'BStreet', 'Nearest_Intersection'], axis=1)

In [27]:
final_data.keys()

Index(['index', 'LONGITUDE', 'LATITUDE', 'FatalInjuries', 'MajorInjuries',
       'Involving', 'SPD', 'LEN', 'ACC', 'VOL', 'F85th', 'LOCAL', 'F50th',
       'Precip', 'Air max', 'min', 'obs', 'Accident', 'year', 'month', 'day',
       'hour'],
      dtype='object')

In [28]:
final_data.shape

(4352, 22)

In [29]:
final_data = final_data[['index', 'LONGITUDE', 'LATITUDE', 'FatalInjuries', 'MajorInjuries',
       'Involving', 'SPD', 'LEN', 'ACC', 'VOL', 'F85th', 'LOCAL', 'F50th',
       'Precip', 'Air max', 'min', 'obs', 'year', 'month', 'day',
       'hour', 'Accident']]

In [30]:
#final_data.to_csv(r'dataset_v3.csv')

In [31]:
final_data = final_data.drop(['FatalInjuries', 'MajorInjuries',
       'Involving'], axis=1)

In [32]:
final_data.to_csv(r'dataset_v4.csv')

In [33]:
final_data = pd.read_csv('dataset_v4.csv')

In [34]:
final_data = final_data.sample(frac=1)

In [35]:
final_data = final_data.reset_index()

In [36]:
final_data = final_data.drop(['level_0', 'index'], axis=1)

In [37]:
final_data.to_csv(r'dataset_v5.csv')

In [38]:
final_data.shape

(4352, 19)

In [39]:
final_data.head(10)

,Unnamed: 0,LONGITUDE,LATITUDE,SPD,LEN,ACC,VOL,F85th,LOCAL,F50th,Precip,Air max,min,obs,year,month,day,hour,Accident
0,1030,-121.803753,37.227881,35,3200.0,18.0,8100.0,40.0,0,36.0,0.00,83,57,70.0,2016.0,6.0,22.0,17.0,0
1,2483,-121.791060,37.225223,25,3362.0,4.0,2550.0,29.0,0,26.0,0.07,67,47,57.0,2014.0,3.0,26.0,7.0,0
2,2778,-121.862273,37.341412,25,4400.0,42.0,7550.0,29.5,0,26.0,0.00,82,59,70.5,2016.0,8.0,4.0,0.0,0
3,4035,-121.900218,37.331962,25,1580.0,5.0,3000.0,29.5,0,26.0,0.02,69,49,59.0,2017.0,11.0,6.0,19.0,0
4,3708,-121.860729,37.358019,40,13100.0,281.0,29500.0,41.3,0,37.3,0.07,59,42,50.5,2016.0,1.0,17.0,3.0,0
5,3270,-121.928938,37.363947,40,2700.0,10.0,9950.0,42.0,0,38.0,0.05,73,53,63.0,2017.0,10.0,23.0,11.0,0
6,4075,-121.771281,37.299331,45,5400.0,32.0,22500.0,46.0,0,42.3,0.00,78,57,67.5,2013.0,9.0,15.0,9.0,0
7,1862,-121.881707,37.328085,30,3100.0,47.0,7300.0,36.0,0,32.0,0.00,82,60,71.0,2013.0,7.0,23.0,5.0,0
8,1532,-121.905721,37.288324,15,1350.0,2.0,2100.0,16.5,0,15.0,0.00,85,59,72.0,2017.0,7.0,13.0,22.0,0
9,2198,-121.854678,37.303514,35,8034.0,36.0,13500.0,38.5,0,35.5,0.06,74,52,63.0,2013.0,5.0,16.0,16.0,0

In [40]:
#final_data = final_data.drop([''], axis=1)

In [41]:
final_data.head(10)

,Unnamed: 0,LONGITUDE,LATITUDE,SPD,LEN,ACC,VOL,F85th,LOCAL,F50th,Precip,Air max,min,obs,year,month,day,hour,Accident
0,1030,-121.803753,37.227881,35,3200.0,18.0,8100.0,40.0,0,36.0,0.00,83,57,70.0,2016.0,6.0,22.0,17.0,0
1,2483,-121.791060,37.225223,25,3362.0,4.0,2550.0,29.0,0,26.0,0.07,67,47,57.0,2014.0,3.0,26.0,7.0,0
2,2778,-121.862273,37.341412,25,4400.0,42.0,7550.0,29.5,0,26.0,0.00,82,59,70.5,2016.0,8.0,4.0,0.0,0
3,4035,-121.900218,37.331962,25,1580.0,5.0,3000.0,29.5,0,26.0,0.02,69,49,59.0,2017.0,11.0,6.0,19.0,0
4,3708,-121.860729,37.358019,40,13100.0,281.0,29500.0,41.3,0,37.3,0.07,59,42,50.5,2016.0,1.0,17.0,3.0,0
5,3270,-121.928938,37.363947,40,2700.0,10.0,9950.0,42.0,0,38.0,0.05,73,53,63.0,2017.0,10.0,23.0,11.0,0
6,4075,-121.771281,37.299331,45,5400.0,32.0,22500.0,46.0,0,42.3,0.00,78,57,67.5,2013.0,9.0,15.0,9.0,0
7,1862,-121.881707,37.328085,30,3100.0,47.0,7300.0,36.0,0,32.0,0.00,82,60,71.0,2013.0,7.0,23.0,5.0,0
8,1532,-121.905721,37.288324,15,1350.0,2.0,2100.0,16.5,0,15.0,0.00,85,59,72.0,2017.0,7.0,13.0,22.0,0
9,2198,-121.854678,37.303514,35,8034.0,36.0,13500.0,38.5,0,35.5,0.06,74,52,63.0,2013.0,5.0,16.0,16.0,0

In [42]:
from sklearn.model_selection import train_test_split

In [43]:
train_set, test_set = train_test_split(final_data, test_size = 0.2, random_state = 42)

In [44]:
X_train = train_set.drop(['Accident'], axis=1)
Y_train = train_set['Accident']
X_test = test_set.drop(['Accident'], axis=1)
Y_test = test_set['Accident']

In [45]:
Y_train.value_counts()

0    2805
1     676
Name: Accident, dtype: int64

In [46]:
Y_test.value_counts()

0    694
1    177
Name: Accident, dtype: int64

In [47]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [48]:
from sklearn.svm import SVC
param_C = 50
param_gamma = 50
classifier = SVC(C=1,gamma=1)

In [49]:
classifier.fit(X_train, Y_train)
expected = Y_test
predicted = classifier.predict(X_test)
print("Accuracy={:.4f}".format(accuracy_score(expected, predicted)))

Accuracy=0.7968

In [50]:
from sklearn.model_selection import GridSearchCV
parameters = {'kernel':['rbf'], 'C':[1,2,5,10,20,50], 'gamma':[0.01,0.1,1,5,10,20,50]}
svm_clsf = SVC()
grid_clsf = GridSearchCV(estimator=svm_clsf, param_grid=parameters, scoring='accuracy',n_jobs=16,verbose=10)
grid_clsf.fit(X_train, Y_train)
classifier = grid_clsf.best_estimator_
params = grid_clsf.best_params_
print("Best parameters set found on development set:")

Fitting 3 folds for each of 42 candidates, totalling 126 fits

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=16)]: Using backend LokyBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done   9 tasks      | elapsed:   12.2s
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:   16.6s
[Parallel(n_jobs=16)]: Done  29 tasks      | elapsed:   23.3s
[Parallel(n_jobs=16)]: Done  40 tasks      | elapsed:   26.3s
[Parallel(n_jobs=16)]: Done  53 tasks      | elapsed:   31.5s
[Parallel(n_jobs=16)]: Done  66 tasks      | elapsed:   35.2s
[Parallel(n_jobs=16)]: Done  81 tasks      | elapsed:   39.5s
[Parallel(n_jobs=16)]: Done 108 out of 126 | elapsed:   47.7s remaining:    8.0s
[Parallel(n_jobs=16)]: Done 121 out of 126 | elapsed:   49.4s remaining:    2.0s
[Parallel(n_jobs=16)]: Done 126 out of 126 | elapsed:   49.8s finished

Best parameters set found on development set:

In [51]:
print(params)
print(classifier)

{'C': 2, 'gamma': 0.01, 'kernel': 'rbf'}
SVC(C=2, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=0.01, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [52]:
y_true, y_pred = Y_test, grid_clsf.predict(X_test)
print(classification_report(y_true, y_pred))

              precision    recall  f1-score   support

           0       0.80      1.00      0.89       694
           1       1.00      0.01      0.01       177

   micro avg       0.80      0.80      0.80       871
   macro avg       0.90      0.50      0.45       871
weighted avg       0.84      0.80      0.71       871

In [53]:
results = grid_clsf.cv_results_

In [54]:
for mean, std, params in zip(results["mean_test_score"],results["std_test_score"],results["params"]):
    print("%0.3f (+-%0.03f) for %r" %(mean, std*2, params))

0.806 (+-0.001) for {'C': 1, 'gamma': 0.01, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 1, 'gamma': 0.1, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 1, 'gamma': 1, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 1, 'gamma': 5, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 1, 'gamma': 10, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 1, 'gamma': 20, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 1, 'gamma': 50, 'kernel': 'rbf'}
0.807 (+-0.001) for {'C': 2, 'gamma': 0.01, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 2, 'gamma': 0.1, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 2, 'gamma': 1, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 2, 'gamma': 5, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 2, 'gamma': 10, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 2, 'gamma': 20, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 2, 'gamma': 50, 'kernel': 'rbf'}
0.807 (+-0.001) for {'C': 5, 'gamma': 0.01, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 5, 'gamma': 0.1, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 5, 'gamma': 1, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 5, 'gamma': 5, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 5, 'gamma': 10, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 5, 'gamma': 20, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 5, 'gamma': 50, 'kernel': 'rbf'}
0.807 (+-0.001) for {'C': 10, 'gamma': 0.01, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 10, 'gamma': 0.1, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 10, 'gamma': 1, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 10, 'gamma': 5, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 10, 'gamma': 10, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 10, 'gamma': 20, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 10, 'gamma': 50, 'kernel': 'rbf'}
0.807 (+-0.001) for {'C': 20, 'gamma': 0.01, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 20, 'gamma': 0.1, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 20, 'gamma': 1, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 20, 'gamma': 5, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 20, 'gamma': 10, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 20, 'gamma': 20, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 20, 'gamma': 50, 'kernel': 'rbf'}
0.807 (+-0.001) for {'C': 50, 'gamma': 0.01, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 50, 'gamma': 0.1, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 50, 'gamma': 1, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 50, 'gamma': 5, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 50, 'gamma': 10, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 50, 'gamma': 20, 'kernel': 'rbf'}
0.806 (+-0.001) for {'C': 50, 'gamma': 50, 'kernel': 'rbf'}